<h1>Log in</h1>

<%= form_for(:session, :url => sessions_path) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="actions">
    <%= f.submit "Submit" %> <%= f.check_box :remember_me %> <%= f.label :remember_me %>
  </div>
<% end %>

<p>New member? <%= link_to "Register now!", signup_path %></p>