<h1>Nagster</h1>
  <% if signed_in? %>
    <%= link_to "Members", members_path %>
    <span id="sendNagLink"><%= link_to "Nag Them!", nagSomeOne_path %></span>
     <span id="sendNagLink"><%= link_to "Am I nagged?", viewNags_path %></span>
    <span id="sendNagLink"><%= link_to "My Nags", myNags_path %></span>
    <table class="front" summary="For signed-in users">
      <tr>
        
        <td class="sidebar round">
          <%= render 'shared/member_info' %>
        </td>
    </tr>
  </table>
    
  <% else %>
    <p>
      Want to nag or be nagged? Click the button below to register
    </p>

    <%= link_to "Nag or Be Nagged", new_member_path, :class => "signup_button round" %>
  <% end %>