<td class="main">
          <h1 class="nag">Send a Nag</h1>
          <%= render 'shared/nag_form' %>
        </td>
-----------------
(frombottom of  app/views/pages/nagForm.html.erb )

<% unless @feed_items.empty? %>
  <table class="nags" summary="Member nags">
    <%= render :partial => 'shared/feed_item', :collection => @feed_items %>
  </table>
  <%= will_paginate @feed_items %>
<% end %>

-----------------

<%= form_for (@nag) do |f| %>  
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.text_area :content %>
  </div>
  <div class="actions"> 
  <ul class="members">
    <% @members.each do |member|%>    
          <%= f.submit "Nag" %> 
          <%= member.name%> <br />       
          <%= f.hidden_field :receiver_id, :value =>  member.id %>   
     <% end %>
  </ul> 
    
 
  </div>
<% end %>

--------------

<%= link_to "Members", members_path %>
    <span id="sendNagLink"><%= link_to "Nag Them!", nagSomeOne_path %></span>
    <span id="sendNagLink"><%= link_to "My Nags", myNags_path %></span>

<table class="nags" summary="Member nags">

<% @members.each do |member|
   @nags = member.nags.all
   @nags.each do |nag|
    if nag.receiver_id.to_i == current_member.id.to_i %>
      <tr>
        <td class="nag">
        <div id="nagContent"><%=  nag.content %> </div>   
        <span id="postedBy"> 
        Nagged by <%= member.name %> 
        <%= time_ago_in_words(nag.created_at) %> ago. </span>
        <span id="nagback">
        <%= link_to "Nag back", {:controller => 'members', :action => 'nagAMember', :id => member.id} %> 
        </span> <br />
      </td>
      </tr>
    <%end%>
  <%end %>
<%  end %>

</table>


