<%= link_to "Members", members_path %>
    <span id="sendNagLink"><%= link_to "Nag Them!", nagSomeOne_path %></span>
     <span id="sendNagLink"><%= link_to "Am I nagged?", viewNags_path %></span>
    <span id="sendNagLink"><%= link_to "My Nags", myNags_path %></span>

<h2>Edit member</h2>

<%= form_for(@member) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>    
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, "Confirmation" %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<div>
  <%= gravatar_for @member %>
  <a href="http://gravatar.com/emails">change</a>
</div>
