<span id="sendNagLinkOffset"><%= link_to "Nag Them!", nagSomeOne_path %></span>
<span id="sendNagLink"><%= link_to "Am I nagged?", viewNags_path %></span>
<span id="sendNagLink"><%= link_to "My Nags", myNags_path %></span> <br /> 


<h3>All members </h3>
(<%= link_to "Find a Member?", searchMembers_path %>)

<%= will_paginate %>

<ul class="members">
  <%= render @members %>
</ul>

<%= will_paginate %>