<%= link_to "Members", members_path %>
<span id="sendNagLink"><%= link_to "Nag Them!", nagSomeOne_path %></span>
<span id="sendNagLink"><%= link_to "Am I nagged?", viewNags_path %></span>


<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h3>
        <%= gravatar_for @member %>
        <%= @member.name%>'<%if @member.name[-1] != 's' %>s Nags <%else%> Nags <%end%>
      </h3>
      <% unless @member.nags.empty? %>
        <table class="nags" summary="Member nags">
          <%= render @nags %>
        </table>
        <%= will_paginate @nags %>
      <% end %>
    </td>
    <td class="sidebar round">
      <strong>Name</strong> <%= @member.name %><br />
      <strong>URL</strong>  <%= link_to member_path(@member), @member %> <br />
      <strong>Nags created: </strong> <%= @member.nags.count %> <br />
      <% @members = Member.all 
       @count = 0 
       @members.each do |member| 
          @nags = member.nags.all 
          @nags.each do |nag| 
            if nag.receiver_id.to_i == current_member.id.to_i 
               @count += 1 
            end 
         end
       end %>
       <strong>Nags received: </strong> <%= @count %> <br />
       
    </td>
  </tr>
</table>